{
  "$schema": "https://raw.githubusercontent.com/google-gemini/gemini-cli/main/schemas/settings.schema.json",
  "security": {
    "disableYoloMode": true,
    "auth": {
      "selectedType": "{{ gemini_auth_type }}"
    }
  },
  "general": {
    "previewFeatures": true,
    "enableAutoUpdate": false
  }
}
