{
  "$schema": "https://raw.githubusercontent.com/google-gemini/gemini-cli/main/schemas/settings.schema.json",
  "security": {
    "disableYoloMode": true,
    "auth": {
      "selectedType": "{{ gemini.auth_type }}"
    }
  },
  "general": {
    "previewFeatures": true,
    "enableAutoUpdate": false
  }{% if gemini.tools_sandbox %},
  "tools": {
    "sandbox": "{{ gemini.tools_sandbox }}"
  }{% endif %}
}
